<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="DAO.ShopmemberMapper">
	
	<!-- 글 저장 -->
	<insert id="insertMember" parameterType="Shopmember">
		insert into shopmember (
			userid
			, password
			, username
			, address
			, phone
		)
		values (
			#{userid}
			, #{password}
			, #{username}
			, #{address}
			, #{phone}
		)
	</insert>
	
	<select id="findMember" resultType="Shopmember" parameterType="Shopmember">
		select userid
			, password
			, username
			, address
			, phone
		from shopmember where userid=#{userid} and password=#{password}
	</select>
	
	<select id="idCheck" resultType="Shopmember" parameterType="String">
		select userid, username
		from shopmember
		where userid =#{userid} 
	</select>
	
</mapper>
